[submodule "compiler/vendor/dirent"]
	path = compiler/vendor/dirent
	url = https://github.com/tronkko/dirent
[submodule "compiler/vendor/tomlc"]
	path = compiler/vendor/tomlc
	url = https://github.com/cktan/tomlc99
